header {
  background: #000066;
}
.logo {
  margin: 0px 0px 0px 8px;
}
ul {
  float: right;
  list-style-type: none;
  overflow: hidden;
  margin-right: 8px;
}
li {
  float: right;
}
li a {
text-decoration: none;
display: inline-block;
color: white;
background: #000066;
padding: 8px 9px;
float: left;
transition-duration: 1s;
}
li a:hover {
  background: #000099;
}
.active {
  background: #00ff00;
}
.active:hover {
  background: #00ff00;
}
#me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 30px;
}
.f {
  display: block;
  background: #ffa500;
  border: 20px #808080;
  text-align: center;
  padding: 3px;
  margin: 0px 20%;
  margin-top: 15px;
border-width: 30px;
border-radius: 15px;
font-size: 20px;
font-family: ubuntu;
}
#ff {
  display: block;
  background: #ffa500;
  border: 20px #808080;
  text-align: center;
  padding: 3px;
  margin: 0px 20%;
  margin-top: 150px;
border-width: 30px;
border-radius: 15px;
font-size: 20px;
font-family: ubuntu;
}
.fa-linkedin {
background: #ffs500;
color: Blue;
padding-right: 20px;
transition-duration: 0.8s;
border: 1px solid black;
}
#www {
  text-decoration: none;
  display: inline-block;
  background: #ffs500;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  transition-duration: 1s;
  border-radius: 15px;
}
.fa:hover {
  background: #ff4500;
}
.fab:hover {
  background: #ff4500;
}
.fa-at {
  background: #ffs500;
  color: #009900;
  padding-right: 20px;
  border: 1px solid black;
}
.fa-steam {
  background: #ffs500;
  color: black;
  margin-right: 3.5%;
  border: 1px solid black;
}
footer {
  position: fixed;
  left: 0;
 bottom: 0;
 width: 100%;
 height: 30px;
 background-color: gray;
 color: white;
 text-align: center;
}
#project {
  margin-top: 160px;

}


body {
  margin: 0;
  background-image: url("https://i.pinimg.com/originals/1b/55/e4/1b55e4bdb4fc6051382e370bf26d5a59.jpg");
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-attachment: fixed;
